torch
torchaudio
modelscope
numpy
hyperpyyaml
onnxruntime
openai-whisper
inflect
librosa
soundfile
conformer
transformers
x-transformers
wetext
protobuf==4.25.0
pyarrow==18.1.0
omegaconf
hydra-core
diffusers
lightning
matplotlib
pyworld
gdown
wget
requests
